html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
