$text: #ffffff;
$second-text: #5f5f6e;
$accent: #4447e2;
$bg-section: #131419;
$bg-items: #1c1c24;
$red: #e24444;
$bg-empty: #2d2d3a;
$button-fixed: #4b4b62;
$bg-facebook: #4267b2;
$bg-twitter: #1da1f2;
$bg-accent: #50d86a;
$bg-grey: #8e8e96;
$bg-vk: #5181b8;
$pink: #ffcece;
$purple: #a86ce4;
$bg-purple: #f1deff;
$bg-green: #deffe5;
$bg-dollar: #fff6de;

$font-family: 'Raleway', 'Arial', sans-serif;
$font-size: 16px;
$line-height: 1.25;
