$text: #ffffff;
$second-text: #5f5f6e;
$accent: #4447e2;
$bg-section: #131419;
$bg-items: #1c1c24;
$red: #e24444;
$bg-empty: #2d2d3a;
$button-fixed: #4b4b62;
$bg-footer-line: #262631;
$bg-body: #000000;

$font-family: 'Raleway', 'Arial', sans-serif;
$font-size: 16px;
$line-height: 1.25;
