<section class="section-news">
	<div class="container">
		<h2 class="popular-title">
			Most popular
		</h2>
		<a href="" class="most-popular">
			<picture>
				<source srcset="
					./images/hello-m.jpg 1x,                   
					./images/hello-m@2x.jpg 2x
					" media="(max-width: 1219px)" />
				<source srcset="
					./images/hello.jpg 1x,                   
					./images/hello@2x.jpg 2x
					" media="(min-width: 1220px)" />
				<img class="picture" src="./images/hello.jpg" alt="photo Hello" />
			</picture>
			<div class="vk-community">
				<div>
					<p class="popular-name">
						Dribbble Russia VK Community officially launched!
					</p>
				</div>
				<p class="popular-text">
					Send your portfolio to our manager on e-mail and get a chance to be a part of our new big Dribbblers
					group!
				</p>
				<time class="data">Aug 14, 2020</time>
			</div>
		</a>
		<h2 class="news-title">
			Last news
		</h2>
		<ul class="news-grid">
			<li class="news-item">
				<a href="" class="news-item-link">
					<picture>
						<source srcset="
							./images/castle-m.jpg 1x,                   
							./images/castle-m@2x.jpg 2x
							" media="(max-width: 1219px)" />
						<source srcset="
							/images/castle.jpg 1x,                   
							/images/castle@2x.jpg 2x
							" media="(min-width: 1220px)" />
						<img class="picture" src="./images/castle.jpg" alt="photo castle" />
					</picture>
					<div class="last-news-text">
						<div class="name-block">
							<p class="news-text">Incredible 3D illustrations of famous fictional places</p>
						</div>
						<time class="data">Aug 14, 2020</time>
					</div>
				</a>
			</li>
			<a href="" class="news-item-link">
				<li class="news-item">
					<picture>
						<source srcset="
							./images/team-m.jpg 1x,                   
							./images/team-m@2x.jpg 2x
							" media="(max-width: 1219px)" />
						<source srcset="
							./images/team.jpg 1x,                   
							./images/team@2x.jpg 2x
							" media="(min-width: 1220px)" />
						<img class="picture" src="./images/team.jpg" alt="photo team" />
					</picture>
					<div class="last-news-text">
						<div class="name-block">
							<p class="news-text">7 reasons why now is the time to hire junior designers</p>
						</div>
						<time class="data">Aug 12, 2020</time>
					</div>
			</a>
			</li>
			<li class="news-item">
				<a href="" class="news-item-link">
					<picture>
						<source srcset="
							/images/boxes.jpg 1x,                   
							/images/boxes@2x.jpg 2x
							" media="(min-width: 1220px)" />
						<img class="picture" src="/images/boxes.jpg" alt="picture boxes" />
					</picture>
					<div class="last-news-text">
						<div class="name-block">
							<p class="news-text">The Beginner's Guide to Product Packaging</p>
						</div>
						<time class="data">Aug 11, 2020</time>
					</div>
				</a>
			</li>
			<li class="news-item">
				<a href="" class="news-item-link">
					<picture>
						<source srcset="
							/images/cards.jpg 1x,                   
							/images/cards@2x.jpg 2x
							" media="(min-width: 1220px)" />
						<img class="picture" src="/images/cards.jpg" alt="photo castle" />
					</picture>
					<div class="last-news-text">
						<div class="name-block">
							<p class="news-text">Card Tricks: 5 Tips for Designing an Ace Deck of Playing Cards</p>
						</div>
						<time class="data">Aug 10, 2020</time>
					</div>
				</a>
			</li>
			<li class="news-item">
				<a href="" class="news-item-link">
					<picture>
						<source srcset="
							/images/designer.jpg 1x,                   
							/images/designer@2x.jpg 2x
							" media="(min-width: 1220px)" />
						<img class="picture" src="/images/designer.jpg" alt="photo castle" />
					</picture>
					<div class="last-news-text">
						<div class="name-block">
							<p class="news-text">5 Different Paths to Becoming a Designer</p>
						</div>
						<time class="data">Aug 9, 2020</time>
					</div>
				</a>
			</li>
			<li class="news-item">
				<a href="" class="news-item-link">
					<picture>
						<source srcset="
							/images/instagram.jpg 1x,                   
							/images/instagram@2x.jpg 2x
							" media="(min-width: 1220px)" />
						<img class="picture" src="/images/instagram.jpg" alt="instagram icon" />
					</picture>
					<div class="last-news-text">
						<div class="name-block">
							<p class="news-text">10 famous logos reimagined by another graphic designer</p>
						</div>
						<time class="data">Aug 8, 2020</time>
					</div>
				</a>
			</li>
		</ul>
	</div>
</section>