<section class="task-list-section container">
  <a class="buttom-up" href="#"></a>
  <div class="task-list_title">
    <span class="task-list_title_text"> Task list</span>
    <button class="task-list_create">+ &nbsp; Create task</button>
  </div>
  <ul class="task-list">
    <li class="task-list_item">
      <div class="task-list_item_content_header">
        <div class="user-info">
          <div class="task-list_item_logo_block_one">
            <img
            class="task-list_item_logo"
            srcset="./images/one.png 51w, ./images/one@2x-min.png 101w"
            src="./images/one.png"
            alt="foto"
          />
          </div>
          <div class="task-list_item_content_text">
            <span class="user_name">Tran Mau Tri</span>
            <span class="user_shoose">Like</span>
          </div>
        </div>
        <a class="icon-Mask_link" href="#">
          <svg class="icon-Mask">
            <use href="./images/spritet.svg#icon-Mask"></svg>
        </a>
      </div>
      <img
        srcset="./images/one-img.png 250w, ./images/one-img@2x.png 500w"
        src="./images/one-img.png"    
        alt="foto"
        sizes="(max-width: 1239px) 145px, (min-width: 1240px) 250px"
      />
      <button class="perform_task_button">Perform a task</button>
    </li>
    <li class="task-list_item">
      <div class="task-list_item_content_header">
        <div class="user-info">
          <div class="task-list_item_logo_block_two">
            <img
            class="task-list_item_logo"
            srcset="./images/two.png 51w, ./images/two@2x.png 101w"
            src="./images/two.png"
            alt="foto"
          />
          </div>
          <div class="task-list_item_content_text">
            <span class="user_name">Anastasia</span>
            <span class="user_shoose">Comment</span>
          </div>
        </div>
        <a class="icon-Mask_link" href="#">
          <svg class="icon-Mask">
            <use href="./images/spritet.svg#icon-Mask"></svg>
        </a>
      </div>
      <img
        srcset="./images/two-img-min.png 250w, ./images/two-img@2x-min.png 500w"
        src="./images/two-img-min.png" 
        sizes="(max-width: 1239px) 145px, (min-width: 1240px) 250px"   
        alt="foto"
      />
      <button class="perform_task_button">Perform a task</button>
    </li>
    <li class="task-list_item">
      <div class="task-list_item_content_header">
        <div class="user-info">
          <div class="task-list_item_logo_block_one">
            <img
            class="task-list_item_logo"
            srcset="./images/three-min.png 51w, ./images/three@2x-min.png 101w"
            src="./images/three-min.png"
            alt="foto"
          />
          </div>
          <div class="task-list_item_content_text">
            <span class="user_name">Martin David</span>
            <span class="user_shoose">Like</span>
          </div>
        </div>
        <a class="icon-Mask_link" href="#">
          <svg class="icon-Mask">
            <use href="./images/spritet.svg#icon-Mask"></svg>
        </a>
      </div>
      <img
        srcset="./images/three-img-min.png 250w, ./images/three-img@2x-min.png 500w"
        src="./images/three-img-min.png"
        sizes="(max-width: 1239px) 145px, (min-width: 1240px) 250px"    
        alt="foto"
      />
      <button class="perform_task_button">Perform a task</button>
    </li>
    <li class="task-list_item">
      <div class="task-list_item_content_header">
        <div class="user-info">
          <div class="task-list_item_logo_block_three">
            <img
            class="task-list_item_logo"
            srcset="./images/four-min.png 51w, ./images/four@2x-min.png 101w"
            src="./images/four-min.png"
            alt="foto"
          />
          </div>
          <div class="task-list_item_content_text">
            <span class="user_name">Dwinaman</span>
            <span class="user_shoose">Followers</span>
          </div>
        </div>
        <a class="icon-Mask_link" href="#">
          <svg class="icon-Mask">
            <use href="./images/spritet.svg#icon-Mask"></svg>
        </a>
      </div>
      <img
        srcset="./images/four-img-min.png 250w, ./images/four-img@2x-min.png 500w"
        src="./images/four-img-min.png" 
        sizes="(max-width: 1239px) 145px, (min-width: 1240px) 250px"   
        alt="foto"
      />
      <button class="perform_task_button">Perform a task</button>
    </li>
    <li class="task-list_item">
      <div class="task-list_item_content_header">
        <div class="user-info">
          <div class="task-list_item_logo_block_four">
            <img
            class="task-list_item_logo"
            srcset="./images/five-min.png 51w, ./images/five@2x-min.png 101w"
            src="./images/five-min.png"
            alt="foto"
          />
          </div>
          <div class="task-list_item_content_text">
            <span class="user_name">Anton Tkachev</span>
            <span class="user_shoose">Views</span>
          </div>
        </div>
        <a class="icon-Mask_link" href="#">
          <svg class="icon-Mask">
            <use href="./images/spritet.svg#icon-Mask"></svg>
        </a>
      </div>
      <img
        srcset="./images/five-img-min.png 250w, ./images/five-img@2x-min.png 500w"
        src="./images/five-img-min.png"    
        sizes="(max-width: 1239px) 145px, (min-width: 1240px) 250px"
        alt="foto"
      />
      <button class="perform_task_button">Perform a task</button>
    </li>
    <li class="task-list_item">
      <div class="task-list_item_content_header">
        <div class="user-info">
          <div class="task-list_item_logo_block_three">
            <img
            class="task-list_item_logo"
            srcset="./images/six-min.png 51w, ./images/six2@2x-min.png 101w"
            src="./images/six-min.png"
            alt="foto"/>
          </div>
          <div class="task-list_item_content_text">
            <span class="user_name">Adam Anderson</span>
            <span class="user_shoose">Followers</span>
          </div>
        </div>
        <a class="icon-Mask_link" href="#">
          <svg class="icon-Mask">
            <use href="./images/spritet.svg#icon-Mask"></svg>
        </a>
      </div>
      <img
        srcset="./images/one-img.png 250w, ./images/one-img@2x.png 500w"
        src="./images/one-img.png" 
        sizes="(max-width: 1239px) 145px, (min-width: 1240px) 250px"   
        alt="foto"
      />
      <button class="perform_task_button">Perform a task</button>
    </li>
    <li class="task-list_item">
      <div class="task-list_item_content_header">
        <div class="user-info">
          <div class="task-list_item_logo_block_one">
            <img
            class="task-list_item_logo"
            srcset="./images/seven-min.png 51w, ./images/seven@2x-min.png 101w"
            src="./images/seven-min.png"
            alt="foto"
          />
          </div>
          <div class="task-list_item_content_text">
            <span class="user_name">Taras Migulko</span>
            <span class="user_shoose">Like</span>
          </div>
        </div>
        <a class="icon-Mask_link" href="#">
          <svg class="icon-Mask">
            <use href="./images/spritet.svg#icon-Mask"></svg>
        </a>
      </div>
      <img
        srcset="./images/seven-img.png 250w, ./images/seven-img@2x-min.png 500w"
        src="./images/seven-img.png"  
        sizes="(max-width: 1239px) 145px, (min-width: 1240px) 250px"  
        alt="foto"
      />
      <button class="perform_task_button">Perform a task</button>
    </li>
    <li class="task-list_item">
      <div class="task-list_item_content_header">
        <div class="user-info">
          <div class="task-list_item_logo_block_two">
            <img
            class="task-list_item_logo"
            srcset="./images/eight-min.png 51w, ./images/eight@2x-min.png 101w"
            src="./images/eight-min.png"
            alt="foto"
          />
          </div>
          <div class="task-list_item_content_text">
            <span class="user_name">Brend Schoepf</span>
            <span class="user_shoose">Comment</span>
          </div>
        </div>
        <a class="icon-Mask_link" href="#">
          <svg class="icon-Mask">
            <use href="./images/spritet.svg#icon-Mask"></svg>
        </a>
      </div>
      <img
        srcset="./images/eight-img-min.png 250w, ./images/eight-img@2x-min.png 500w"
        src="./images/eight-img-min.png"  
        sizes="(max-width: 1239px) 145px, (min-width: 1240px) 250px"  
        alt="foto"
      />
      <button class="perform_task_button">Perform a task</button>
    </li>
    <li class="task-list_item">
      <div class="task-list_item_content_header">
        <div class="user-info">
          <div class="task-list_item_logo_block_one">
            <img
            class="task-list_item_logo"
            srcset="./images/nine-min.png 51w, ./images/nine@2x-min.png 101w"
            src="./images/nine-min.png"
            alt="foto"
          />
          </div>
          <div class="task-list_item_content_text">
            <span class="user_name">Dmitry Lauretsky</span>
            <span class="user_shoose">Like</span>
          </div>
        </div>
        <a class="icon-Mask_link" href="#">
          <svg class="icon-Mask">
            <use href="./images/spritet.svg#icon-Mask"></svg>
        </a>
      </div>
      <img
        srcset="./images/nine-img-min.png 250w, ./images/nine-img@2x-min.png 500w"
        src="./images/nine-img-min.png"  
        sizes="(max-width: 1239px) 145px, (min-width: 1240px) 250px"  
        alt="foto"
      />
      <button class="perform_task_button">Perform a task</button>
    </li>
    <li class="task-list_item">
      <div class="task-list_item_content_header">
        <div class="user-info">
          <div class="task-list_item_logo_block_two">
            <img
            class="task-list_item_logo"
            srcset="./images/ten-min.png 51w, ./images/ten@2x-min.png 101w"
            src="./images/ten-min.png"
            alt="foto"
          />
          </div>
          <div class="task-list_item_content_text">
            <span class="user_name">Outcrowd</span>
            <span class="user_shoose">Comment</span>
          </div>
        </div>
        <a class="icon-Mask_link" href="#">
          <svg class="icon-Mask">
            <use href="./images/spritet.svg#icon-Mask"></svg>
        </a>
      </div>
      <img
        srcset="./images/ten-img-min.png 250w, ./images/ten-img@2x-min.png 500w"
        src="./images/ten-img-min.png"  
        sizes="(max-width: 1239px) 145px, (min-width: 1240px) 250px"  
        alt="foto"
      />
      <button class="perform_task_button">Perform a task</button>
    </li>
    <li class="task-list_item displey-none">
      <div class="task-list_item_content_header_empty">
        <div class="task-list_item_logo_block_empty">
        </div>
        <div class="task-list_item_content_empty">
          <div class="user_empty"></div>
          <div class="user_empty"></div>
        </div>
      </div>
      <div class="user-img_empty">
          <svg class="placeholder">
            <use href="./images/spritet.svg#icon-placeholder"></svg>
      </div>
      <div class="buttom-emphy">
        <div class="buttom-emphy_bl"></div>
      </div>
    </li>
    <li class="task-list_item displey-none">
      <div class="task-list_item_content_header_empty">
        <div class="task-list_item_logo_block_empty">
        </div>
        <div class="task-list_item_content_empty">
          <div class="user_empty"></div>
          <div class="user_empty"></div>
        </div>
      </div>
      <div class="user-img_empty">
          <svg class="placeholder">
            <use href="./images/spritet.svg#icon-placeholder"></svg>
      </div>
      <div class="buttom-emphy">
        <div class="buttom-emphy_bl"></div>
      </div>
    </li>
  </ul>
</section>
